body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin:0px;
  padding:0px;
}
#main{
  display: flex;
  flex-direction: row;
}
#col2{
  display: flex;
  flex-direction: column;
}
td{
  text-align: center;
  font-size: 3em;
}
#col1,#col2{
  width:50vw;
  height:100vh;
}
table{
  height:100vh;
  width:50vw;
}
#player{
  margin-left:25%;
  font-size:6.27em;
}
button{
  margin-top: 500px;
  font-size:2em;
  background: linear-gradient(red,blue);
  color:white;
  border-style:none;
}
button:hover{
  cursor:pointer;
}